body {
	background-color: #eeeeee;
	margin-left: 15%;
	margin-right: 15%;
	font-family: arial;
}
.container {
	text-align: center;
	margin-top: 20px;
}
.register-box input[type="text"], 
input[type="email"], input[type="password"] {
	margin-bottom: 10px;
	width: 50%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 10px;
}
#gender{
	margin: 40px;
	display: inline;
	font-weight: bold;
}
.register-box select {
	margin-bottom: 10px;
	width: 50%;
	height: 35px;
	margin-top: 5px;
	color: gray;
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 10px;
}
.register-box input[type="date"] {
	margin-bottom: 10px;
	width: 50%;
	height: 35px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid gray;
}
.register-box textarea {
	margin-bottom: 10px;
	width: 50%;
	height: 60px;
	border-radius: 5px;
	border: 1px solid gray;
	padding-left: 10px;
}
.register-box input[type="reset"] {
	margin-bottom: 10px;
	width: 150px;
	height: 35px;
	border-radius: 5px;
	border-color: #dad6d6;
}
.register-box input[type="submit"] {
	margin-bottom: 10px;
	width: 150px;
	height: 35px;
	border-radius: 5px;
	border-color: #7bb3e2;
	background-color: #7bb3e2;
	color: white;
}
.register-box p {
	text-align: left;
	padding-left: 24%;
}