#nav{
    background-color: #F4F4F4;
    height: 150px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #CCCCCC;
    font-size: 20px;  
}
h1{
    color: black;
    text-align: center;
}
h4{
    text-align: center;
    color: rgb(12,9,5);
}
#submit{
    text-align: center;
    line-height:2.5;
}
